# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\oscar\OneDrive - La Salle\LaSalle\ICE 3rd Year S2\Knowledge Based Systems\Individual Assignments\SortingAlgorithms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
